<% include ../partials/header %>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="thumbnail" style="padding: 0px">
          <img class="img-responsive rounded mx-auto d-block" style="width: 75%" src="<%= campground.image %>" alt="<%= campground.name %>">
          <div class="caption-full" style="padding-bottom: 0.5em">
            <h4 class="pull-right">$9.00/night</h4>
            <h4>
              <a href="">
                <%= campground.name %>
              </a>
            </h4>
            <p>
              <%= campground.description %>
            </p>
            <p>
              <em>
                Submitted by <%= campground.author.username %>
              </em>
            </p>
            <% if( user && campground.author.id.equals(user._id)) { %>
              <div class="text-right">
                <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit">
                <i class="fa fa-pencil" style="color:white" aria-hidden="true"></i>
              </a>
                <form style="display: inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-xs btn-danger">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                </form>
              </div>
              <% } %>
          </div>
        </div>
        <div class="well">
          <div style="display:flex; justify-content:flex-end;">
            <a class="btn btn-primary" style="margin-right:0.13em;" href="/campgrounds"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <a class="btn btn-success" style="margin-left:0.13em;" href="/campgrounds/<%= campground._id %>/comments/new"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
          <hr>
          <% campground.comments.forEach(({ _id, author, createdAt, text}) => { %>
            <div class="row">
              <div class="col-md-12">
                <img class="rounded" src="<%= author.photo %>" alt="<%= author.username %>">
                <strong><%= author.username %></strong>
                <span class="pull-right"><%= createdAt.toDateString() %></span>
                <p>
                  <em>"<%= text %>"</em>
                </p>
                <% if(user && author.id.equals(user._id)) { %>
                  <a href="/campgrounds/<%= campground._id %>/comments/<%= _id %>/edit" class="btn btn-xs btn-info">
                    <i class="fa fa-pencil" style="color:white" aria-hidden="true"></i>
                  </a>
                  <form style="display: inline" action="/campgrounds/<%= campground._id %>/comments/<%= _id %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </form>
                  <% } %>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
